body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 30px;
}

input {
    margin-top: 20px;
}

.box {
    padding: 40px;
    width: 600px;
    border-style: none;

}

.hide {
    display: none;
}
